@tailwind base;
@tailwind components;
@tailwind utilities;

button.amount-button {
    -webkit-appearance: button;
    background-color: black; 
    background-image: none;
}

.amount-button span{
    margin-top: 2px !important;
}

hr.style1 { 
    height: 30px;
    border-style: solid;
    border-color: #0f172b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style2 { 
    border-style: solid;
    border-color: #0f172b;
    border-width: 1px 0 0 0;
}

hr.style3 { 
    height: 20px;
    border-style: solid;
    border-color: #272e3e;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.cust-input {
    padding: 10px;
    margin: 10px;
    min-width: 339px;
    border: 1px solid black;
    border-radius: 8px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .3)), url("https://www.cbc.ca/natureofthings/content/legacy/talktalk_1920.jpg");
  
    /* Set a specific height */
    height: 420px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-drone {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .6)), url("../public/droneOverTrees.jpeg");
  
    /* Set a specific height */
    height: 420px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-no-image {
    height: 145px;
  }

  .hero-image-item {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../public/store-owner.jpeg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .bg-fmug {
    background-color: #040d13; 
  }

  .bg-slate-100 {
    background-color: #081620;
  }

  .text-green {
    color: rgb(2, 169, 92);
  }

  .text-light-green {
    color: #afcdb1;
  } 

  .line-holder {
      position: absolute;
      bottom: 0px;
      width: 100%;
  }


  .prog-text-holder {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: 100%;
  }

.btn-green-border {
    border: 4px solid rgb(2, 169, 92);
    background: white;
    width: 140px;
}

.btn-green-border-sm {
  border: 4px solid rgb(2, 169, 92);
  background: white;
  width: 100px;
}

.btn-green {
  border: 4px solid rgb(2, 169, 92);
  background: rgb(2,169,92);
  width: 160px;
}

.btn-green[disabled] {
  background: lightgrey;
  border: 4px solid lightgrey;
  cursor: default;
}

.btn-shadow {
  transition: 0.3s;
}
.btn-shadow:hover {
  box-shadow: 0px 6px 20px -8px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 6px 20px -8px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 20px -8px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.rnd-shadow-2 {
  box-shadow:inset 10px 10px 10px 10px rgb(2,169,92);
}

.rnd-shadow {
  box-shadow: inset 0px 1px 64px 1px black;
  transition: 0.3s;
}


.sidenav {
  height: 100%; 
  width: 350px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: -355px;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sideNavOpen {
  left: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.loaderHolder {
  background-color: #030c1d;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.loaderHolder img{
 border-radius: 50%;
}

.bg-brt-green {
  background-color:  #081620 ;
}



.terms-of-use li{
  padding: 5px;
}

.easy-to-read {
  background-color: rgb(2,169,92);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.terms-of-use .t-o-c li{
  padding: 0px;
}  

.cat-menu-holder {
  padding-top: 45px;
  padding-left: 0px;
  color: #06383f;
}

.cat-menu-holder span{
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: .1s;
  white-space: nowrap;
}


.cat-menu-holder .selected{
  color: white;
  border-left: 1px solid white;
  font-stretch: expanded;
  margin-left: 5px;
  font-size: 20px;
  white-space: nowrap;
}

.form-container {
  background-color: #081620;
  border-radius: 8px;
  padding: 40px;
  margin: 40px;
  text-align: center;
}

.img-drag-button {
  width: 100%;
  max-width: 600px;
  min-width: 100%;
  min-height: 300px;
  border-radius: 8px;
  background-color: #040d13;
  color: white;
}

.timeline-title {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}
.timeline-date {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}

#map {
  width: 100%;
  height: 400px !important;
  min-height: 600px !important;
  position: relative;
}
.control-panel {
  position: absolute;
  top: 0px;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.btn-map {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
}

h2 {
  color: white;
}

h1 {
  color: white;
  font-size: 24px;
}


